@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

header {
  background-color: var(--black-color);
  padding: 10px 20px;
}

main {
  padding: 75px 0;
}

.image img {
  width: 100%; 
}